.home p{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 165;
    font-size: 80px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home{
    padding-top: 30px;
    padding-left: 30px;
}