@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
.App-header{
  background-color: #1d1d1d;
}
.App{
  height: 100vh;
  display: flex;
}